# Google Gemini API Key
GOOGLE_API_KEY=AIzaSyDv3KMd8mwDGImYwV8HY7ZWFzP1x6hv3-4

# Server
PORT=3000

DATABASE_URL='postgresql://neondb_owner:npg_hk3rOyKi5IsX@ep-round-glitter-ahpookm7-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

JWT_SECRET=32bd8354d12b6fdc9cefd7855cea89e44a2f508b99dc49fe2dbd24eb23ecfe6cd95678dfdf15fd77e9ef4bf0b742ea856367eaf4628a3ecacf0766f450892871


